fastapi==0.115.6
python-multipart==0.0.20
uvicorn==0.34.0
pillow==11.0.0
python-dotenv==1.0.1
openai==1.58.1
google-cloud-vision==3.9.0
tensorflow==2.15.0
tensorflow-hub==0.15.0
tensorflow-addons==0.22.0
numpy==1.24.3
opencv-python==4.8.1.78
gdown==5.1.0
insightface==0.7.3
onnxruntime-gpu==1.17.0
nvidia-cudnn-cu12==9.6.0.74
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cuda-nvrtc-cu12==12.6.77
